{% extends 'base.html' %}
{% load static %}

{% block title %}
Password Change
{% endblock title %}

{% block css_file %}
<link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
{% endblock css_file %}

{% block main__content %}

<!-- ======= Sidebar ======= -->

{% include 'dashboard/sitebar.html' %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Password Change</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10 col-md-11 col-sm-12 mx-auto">

                <div class="card">
                    <div class="card-body p-5">
                        <div class="alert alert-primary align-items-center" role="alert">
                            Your Password has been changed <strong><a href="{% url 'profile' %}">Go to
                                    profile</a></strong>
                        </div>
                    </div>

                </div>
            </div>
    </section>

</main><!-- End #main -->

{% endblock main__content %}