{% extends 'base.html' %}
{% load static %}

{% block title %}
Password Change
{% endblock title %}

{% block css_file %}
<link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet">
{% endblock css_file %}

{% block main__content %}

<!-- ======= Sidebar ======= -->

{% include 'dashboard/sitebar.html' %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Password Change</h1>

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">User</li>
                <li class="breadcrumb-item active">Password Change</li>
            </ol>
        </nav>
        {% include 'dashboard/dashboard_toggler.html' %}
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-10 col-md-11 col-sm-12 mx-auto">

                <div class="card">
                    <div class="card-body p-5">

                        <!-- Change Password Form -->
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current
                                    Password</label>
                                <div class="col-md-8 col-lg-9">
                                    {{form.old_password}}
                                    <!-- <input name="password" type="password" class="form-control" id="currentPassword"> -->
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New
                                    Password</label>
                                <div class="col-md-8 col-lg-9">
                                    {{form.new_password1}}
                                    <!-- <input name="newpassword" type="password" class="form-control" id="newPassword"> -->
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter
                                    New Password</label>
                                <div class="col-md-8 col-lg-9">
                                    {{form.new_password2}}
                                    <!-- <input name="renewpassword" type="password" class="form-control" id="renewPassword"> -->
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Change Password</button>
                            </div>

                            {% if form.errors %}

                            {% for errors in form.error_messages %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{errors}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endfor %}

                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{form.errors}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>
                            {% endif %}




                        </form><!-- End Change Password Form -->



                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

{% endblock main__content %}