{% extends 'base.html' %}
{% load static %}

{% block title %}
Signup
{% endblock title %}

{% block css_file %}

<link href="{% static 'assets/css/team.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/signup.css' %}" rel="stylesheet">
{% endblock css_file %}

{% block main__content %}

<main id="main">
  <section class="container mb-5 signup-bg">
    <div class="team-section-header mb-5">
      <h2>Signup</h2>
      <p>Register to your account.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-6 order-2 order-lg-1 ">

        <!-- <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p> -->

        <div class="msg my-3">
          {% if messages %}
          {% for message in messages %}
          <div {% if message.tags %} class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert" {% endif %}>
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </button>
          </div>
          {% endfor %}
          {% endif %}
        </div>

        <form class="mx-1 mx-md-4" method="POST">
          {% csrf_token %}
          <!-- name input start -->
          <div class="row">
            <div class="col-md-6">

              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-file-signature fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <!-- <input type="email" id="form3Example3c" class="form-control" placeholder="Enter First Name" /> -->
                  {{forms.first_name}}
                </div>
              </div>

            </div>
            <div class="col-md-6">

              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-file-signature fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <!-- <input type="email" id="form3Example3c" class="form-control" placeholder="Enter Last Name" /> -->
                  {{forms.last_name}}
                </div>
              </div>

            </div>
          </div> <!-- name input end -->

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <!-- <input type="text" id="form3Example1c" class="form-control" placeholder="Enter username" /> -->
              {{forms.username}}
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <!-- <input type="email" id="form3Example3c" class="form-control" placeholder="Enter Email" /> -->
              {{forms.email}}
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-phone-square fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <!-- <input type="email" id="form3Example3c" class="form-control" placeholder="Enter Phone Number" /> -->
              {{forms.phone}}
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <!-- <input type="password" id="form3Example4c" class="form-control" placeholder="Enter Password" /> -->
              {{forms.password1}}
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <!-- <input type="password" id="form3Example4cd" class="form-control" placeholder="Repeat your password" /> -->
              {{forms.password2}}
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-clipboard-check fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              {{forms.user_type}}
            </div>
          </div>



          <div class="form-check d-flex justify-items-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
            <label class="form-check-label" for="form2Example3">
              I agree all statements in <a href="#!">Terms of service</a>
            </label>
          </div>
          <div class="text-center"><button type="submit">Sign Up</button></div>
          <p class="text-center text-muted mt-3 mb-0">Have already an account? <a href="{% url 'login' %}"
              class="fw-bold text-body"><u>Login here</u></a></p>

        </form>

      </div>
      <div class="col-md-6 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">

        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid"
          alt="Sample image">

      </div>
    </div>

  </section>




</main>
<!-- End #main -->
{% endblock main__content %}