{% load static %}
<div class="blog-pagination">
    {% if posts.has_other_pages %}
    <ul class="justify-content-center">
        {% if posts.has_previous %}
        <li><a href="?page={{ posts.previous_page_number }}" tabindex="-1">Previous</a></li>
        {% else %}
        <li class="disabled"><a href="" tabindex="-1">Previous</a></li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
        <li class="active"><a href="#">{{ i }}</a></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
        {% else %}
        <li><a href="">Next</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>