{% extends 'base.html' %}
{% load static %}

{% block title %}
Blogs
{% endblock title %}

{% block css_file %}
<link href="{% static 'assets/css/blog.css' %}" rel="stylesheet">
{% endblock css_file %}

{% block main__content %}


<main id="main" style="margin-top:10.5rem">

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-8 entries">
          {% if posts %}
          {% for post in posts %}
          <article class="entry">

            <div class="entry-img">
              <img src="{{ post.image.url }}" alt="" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="{% url 'blog_details' slug=post.slug %}">{{post.title}}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                    href="{% url 'blog_details' slug=post.slug %}">{{post.author | title}}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a
                    href="{% url 'blog_details' slug=post.slug %}"><time
                      datetime="{{post.create_at}}">{{post.create_at}}</time></a></li>
                <!-- <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                    href="#">12
                    Comments</a></li> -->
              </ul>
            </div>

            <div class="entry-content">
              <p>
                {{post.content|safe|truncatechars:200}}
              </p>
              <div class="read-more">
                <a href="{% url 'blog_details' slug=post.slug %}">Read More</a>
              </div>
            </div>

          </article><!-- End blog entry -->
          {% endfor %}
          {% else %}
          <div class="alert alert-primary" role="alert">
            No Post Found!
          </div>
          {% endif %}

          {% include 'blog/blog_pagination.html' %}

        </div><!-- End blog entries list -->

        <div class="col-lg-4">

          {% include 'blog/blog_sidebar.html' %}

        </div><!-- End blog sidebar -->

      </div>

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

{% endblock main__content %}