{% extends 'base.html' %}
{% load static %}

{% block title %}
Subscription
{% endblock title %}

{% block css_file %}
<link href="{% static 'assets/css/subscription.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/team.css' %}" rel="stylesheet">
{% endblock css_file %}

{% block main__content %}

<main id="main" style="margin-top:10.5rem" class="pb-5">

    <!-- ======= Pricing Section ======= -->
    <!-- <section id="pricing" class="pricing">

        <div class="container" data-aos="fade-up">

            <div class="pricing-section-header">
                <h2>Pricing</h2>
                <p>Check our Pricing</p>
            </div>

            <div class="row gy-4" data-aos="fade-left">

            {% for plan in plans %}
                <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        <h3 style="color:{{plan.heading_color}}">{{plan.plan_name}}</h3>
                        <div class="price"><sup>৳</sup>{{plan.plan_price}}<span> / mo</span></div>
                        <img src="{{plan.plan_image.url}}" class="img-fluid" alt="">
                        <ul>
                            {% for feature in plan.features.all %}
                            <li>{{ feature }}</li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
                {% endfor %}

           
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        <h3 style="color: #07d5c0;">Free Plan</h3>
                        <div class="price"><sup>৳</sup>0<span> / mo</span></div>
                        <img src="{% static 'assets/img/pricing-free.png' %}" class="img-fluid" alt="">
                        <ul>
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li class="na">Pharetra massa</li>
                            <li class="na">Massa ultricies mi</li>
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <span class="featured">Featured</span>
                        <h3 style="color: #65c600;">Starter Plan</h3>
                        <div class="price"><sup>৳</sup>19<span> / mo</span></div>
                        <img src="{% static 'assets/img/pricing-starter.png' %}" class="img-fluid" alt="">
                        <ul>
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li>Pharetra massa</li>
                            <li class="na">Massa ultricies mi</li>
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box">
                        <h3 style="color: #ff901c;">Business Plan</h3>
                        <div class="price"><sup>৳</sup>29<span> / mo</span></div>
                        <img src="{% static 'assets/img/pricing-business.png' %}" class="img-fluid" alt="">
                        <ul>
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li>Pharetra massa</li>
                            <li>Massa ultricies mi</li>
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="box">
                        <h3 style="color: #ff0071;">Ultimate Plan</h3>
                        <div class="price"><sup>৳</sup>49<span> / mo</span></div>
                        <img src="{% static 'assets/img/pricing-ultimate.png' %}" class="img-fluid" alt="">
                        <ul>
                            <li>Aida dere</li>
                            <li>Nec feugiat nisl</li>
                            <li>Nulla at volutpat dola</li>
                            <li>Pharetra massa</li>
                            <li>Massa ultricies mi</li>
                        </ul>
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div> 



            </div>

        </div>

    </section> -->
    <!-- End Pricing Section -->


    <!-- ======= Team Section ======= -->
    <section id="pricing" class="team pricing">

        <div class="container" data-aos="fade-up">

            <div class="team-section-header">
                <h2>Pricing</h2>
                <p>Check our Pricing</p>
            </div>

            <div class="row gy-4">
                {% for plan in plans %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member py-5 w-100">
                        <h3 style="color:{{plan.heading_color}}">{{plan.plan_name}}</h3>
                        <div class="price"><sup>৳</sup>{{plan.plan_price}}<span> / mo</span></div>
                        <img src="{{plan.plan_image.url}}" class="img-fluid" alt="">
                        <ul>
                            {% for feature in plan.features.all %}
                            <li>{{ feature }}</li>
                            {% endfor %}
                        </ul>
                        <form action="{% url 'buyPackage' %}" method="POST">
                            {% csrf_token %} 
                            <input type="hidden" name="plan_id" value="{{plan.id}}">
                            <button type="submit" class="btn-buy">Buy Now</button>
                            <!-- <a type="submit" class="btn-buy">Buy Now</a> -->
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </section>
    <!-- End Team Section -->

</main><!-- End #main -->

{% endblock main__content %}