<!-- <h5 class="card-title">About</h5>
<p class="small fst-italic">i dfjv fvf</p> -->

<h5 class="card-title">Profile Details</h5>

<div class="row">
    <div class="col-lg-3 col-md-4 label ">User Type</div>
    <div class="col-lg-9 col-md-8">{{request.user.user_type}}</div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 label ">Full Name</div>
    <div class="col-lg-9 col-md-8">{{request.user.full_name}}</div>
</div>


<div class="row">
    <div class="col-lg-3 col-md-4 label ">Phone</div>
    <div class="col-lg-9 col-md-8">{{request.user.phone}}</div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-4 label">Email</div>
    <div class="col-lg-9 col-md-8">{{request.user.email}}</div>
</div>